<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CoreDatabase"
         connectionString="server=localhost; Database=BChat; Integrated Security=True" />
  </connectionStrings>
  <appSettings>
    <add key="connectionString" value="server=localhost; Database=BChat; Integrated Security=True"/>
  </appSettings>
</configuration>