BChatServer/.vs/BChatServer/config/applicationhost.config
BChatServer/.vs/BChatServer/DesignTimeBuild/.dtbcache
BChatServer/.vs/BChatServer/v16/.suo
BChatServer/.vs/BChatServer/v16/Server/sqlite3/db.lock
BChatServer/.vs/BChatServer/v16/Server/sqlite3/storage.ide
BChatServer/.vs/BChatServer/v16/Server/sqlite3/storage.ide-shm
BChatServer/.vs/BChatServer/v16/Server/sqlite3/storage.ide-wal
BChatServer/BChat.API/obj/BChat.API.csproj.nuget.dgspec.json
BChatServer/BChat.API/obj/BChat.API.csproj.nuget.g.props
BChatServer/BChat.API/obj/BChat.API.csproj.nuget.g.targets
BChatServer/BChat.API/obj/Debug/netcoreapp2.2/BChat.API.AssemblyInfo.cs
BChatServer/BChat.API/obj/Debug/netcoreapp2.2/BChat.API.AssemblyInfoInputs.cache
BChatServer/BChat.API/obj/Debug/netcoreapp2.2/BChat.API.assets.cache
BChatServer/BChat.API/obj/Debug/netcoreapp2.2/BChat.API.csproj.FileListAbsolute.txt
BChatServer/BChat.API/obj/project.assets.json
BChatServer/BChat.Bot/obj/BChat.Bot.csproj.nuget.dgspec.json
BChatServer/BChat.Bot/obj/BChat.Bot.csproj.nuget.g.props
BChatServer/BChat.Bot/obj/BChat.Bot.csproj.nuget.g.targets
BChatServer/BChat.Bot/obj/Debug/netcoreapp2.2/BChat.Bot.AssemblyInfo.cs
BChatServer/BChat.Bot/obj/Debug/netcoreapp2.2/BChat.Bot.AssemblyInfoInputs.cache
BChatServer/BChat.Bot/obj/Debug/netcoreapp2.2/BChat.Bot.assets.cache
BChatServer/BChat.Bot/obj/Debug/netcoreapp2.2/BChat.Bot.csproj.FileListAbsolute.txt
BChatServer/BChat.Bot/obj/project.assets.json
BChatServer/BChat.Data/obj/BChat.Data.csproj.nuget.dgspec.json
BChatServer/BChat.Data/obj/BChat.Data.csproj.nuget.g.props
BChatServer/BChat.Data/obj/BChat.Data.csproj.nuget.g.targets
BChatServer/BChat.Data/obj/Debug/netcoreapp2.2/BChat.Data.AssemblyInfo.cs
BChatServer/BChat.Data/obj/Debug/netcoreapp2.2/BChat.Data.AssemblyInfoInputs.cache
BChatServer/BChat.Data/obj/Debug/netcoreapp2.2/BChat.Data.assets.cache
BChatServer/BChat.Data/obj/Debug/netcoreapp2.2/BChat.Data.csproj.FileListAbsolute.txt
BChatServer/BChat.Data/obj/project.assets.json
BChatServer/BChatServer.NUnitTest/bin/Debug/netcoreapp2.2/nunit_random_seed.tmp
BChatServer/BChatServer.NUnitTest/obj/BChatServer.NUnitTest.csproj.nuget.dgspec.json
BChatServer/BChatServer.NUnitTest/obj/BChatServer.NUnitTest.csproj.nuget.g.props
BChatServer/BChatServer.NUnitTest/obj/BChatServer.NUnitTest.csproj.nuget.g.targets
BChatServer/BChatServer.NUnitTest/obj/Debug/netcoreapp2.2/BChatServer.NUnitTest.AssemblyInfo.cs
BChatServer/BChatServer.NUnitTest/obj/Debug/netcoreapp2.2/BChatServer.NUnitTest.AssemblyInfoInputs.cache
BChatServer/BChatServer.NUnitTest/obj/Debug/netcoreapp2.2/BChatServer.NUnitTest.assets.cache
BChatServer/BChatServer.NUnitTest/obj/Debug/netcoreapp2.2/BChatServer.NUnitTest.csproj.FileListAbsolute.txt
BChatServer/BChatServer.NUnitTest/obj/Debug/netcoreapp2.2/BChatServer.NUnitTest.Program.cs
BChatServer/BChatServer.NUnitTest/obj/project.assets.json
BChatServer/BChatServer/obj/BChatServer.csproj.nuget.dgspec.json
BChatServer/BChatServer/obj/BChatServer.csproj.nuget.g.props
BChatServer/BChatServer/obj/BChatServer.csproj.nuget.g.targets
BChatServer/BChatServer/obj/Debug/netcoreapp2.2/BChatServer.AssemblyInfo.cs
BChatServer/BChatServer/obj/Debug/netcoreapp2.2/BChatServer.AssemblyInfoInputs.cache
BChatServer/BChatServer/obj/Debug/netcoreapp2.2/BChatServer.assets.cache
BChatServer/BChatServer/obj/Debug/netcoreapp2.2/BChatServer.csproj.FileListAbsolute.txt
BChatServer/BChatServer/obj/Debug/netcoreapp2.2/BChatServer.RazorAssemblyInfo.cache
BChatServer/BChatServer/obj/Debug/netcoreapp2.2/BChatServer.RazorAssemblyInfo.cs
BChatServer/BChatServer/obj/Debug/netcoreapp2.2/BChatServer.Views.dll
BChatServer/BChatServer/obj/project.assets.json
BChatServer/BChat.API/bin/Debug/netcoreapp2.2/BChat.API.deps.json
BChatServer/BChat.API/bin/Debug/netcoreapp2.2/BChat.API.dll
BChatServer/BChat.API/bin/Debug/netcoreapp2.2/BChat.API.pdb
BChatServer/BChat.API/bin/Debug/netcoreapp2.2/BChat.Data.dll
BChatServer/BChat.API/bin/Debug/netcoreapp2.2/BChat.Data.pdb
BChatServer/BChat.API/obj/BChat.API.csproj.nuget.cache
BChatServer/BChat.API/obj/Debug/netcoreapp2.2/BChat.API.csproj.CopyComplete
BChatServer/BChat.API/obj/Debug/netcoreapp2.2/BChat.API.csproj.CoreCompileInputs.cache
BChatServer/BChat.API/obj/Debug/netcoreapp2.2/BChat.API.csprojAssemblyReference.cache
BChatServer/BChat.API/obj/Debug/netcoreapp2.2/BChat.API.dll
BChatServer/BChat.API/obj/Debug/netcoreapp2.2/BChat.API.pdb
BChatServer/BChat.Bot/bin/Debug/netcoreapp2.2/BChat.API.dll
BChatServer/BChat.Bot/bin/Debug/netcoreapp2.2/BChat.API.pdb
BChatServer/BChat.Bot/bin/Debug/netcoreapp2.2/BChat.Bot.deps.json
BChatServer/BChat.Bot/bin/Debug/netcoreapp2.2/BChat.Bot.dll
BChatServer/BChat.Bot/bin/Debug/netcoreapp2.2/BChat.Bot.dll.config
BChatServer/BChat.Bot/bin/Debug/netcoreapp2.2/BChat.Bot.pdb
BChatServer/BChat.Bot/bin/Debug/netcoreapp2.2/BChat.Bot.runtimeconfig.dev.json
BChatServer/BChat.Bot/bin/Debug/netcoreapp2.2/BChat.Bot.runtimeconfig.json
BChatServer/BChat.Bot/bin/Debug/netcoreapp2.2/BChat.Data.dll
BChatServer/BChat.Bot/bin/Debug/netcoreapp2.2/BChat.Data.pdb
BChatServer/BChat.Bot/obj/BChat.Bot.csproj.nuget.cache
BChatServer/BChat.Bot/obj/Debug/netcoreapp2.2/BChat.Bot.csproj.CopyComplete
BChatServer/BChat.Bot/obj/Debug/netcoreapp2.2/BChat.Bot.csproj.CoreCompileInputs.cache
BChatServer/BChat.Bot/obj/Debug/netcoreapp2.2/BChat.Bot.csprojAssemblyReference.cache
BChatServer/BChat.Bot/obj/Debug/netcoreapp2.2/BChat.Bot.dll
BChatServer/BChat.Bot/obj/Debug/netcoreapp2.2/BChat.Bot.pdb
BChatServer/BChat.Data/bin/Debug/netcoreapp2.2/BChat.Data.deps.json
BChatServer/BChat.Data/bin/Debug/netcoreapp2.2/BChat.Data.dll
BChatServer/BChat.Data/bin/Debug/netcoreapp2.2/BChat.Data.pdb
BChatServer/BChat.Data/obj/BChat.Data.csproj.nuget.cache
BChatServer/BChat.Data/obj/Debug/netcoreapp2.2/BChat.Data.csproj.CoreCompileInputs.cache
BChatServer/BChat.Data/obj/Debug/netcoreapp2.2/BChat.Data.dll
BChatServer/BChat.Data/obj/Debug/netcoreapp2.2/BChat.Data.pdb
BChatServer/BChatServer.NUnitTest/bin/Debug/netcoreapp2.2/BChat.Data.dll
BChatServer/BChatServer.NUnitTest/bin/Debug/netcoreapp2.2/BChat.Data.pdb
BChatServer/BChatServer.NUnitTest/bin/Debug/netcoreapp2.2/BChatServer.NUnitTest.deps.json
BChatServer/BChatServer.NUnitTest/bin/Debug/netcoreapp2.2/BChatServer.NUnitTest.dll
BChatServer/BChatServer.NUnitTest/bin/Debug/netcoreapp2.2/BChatServer.NUnitTest.dll.config
BChatServer/BChatServer.NUnitTest/bin/Debug/netcoreapp2.2/BChatServer.NUnitTest.pdb
BChatServer/BChatServer.NUnitTest/bin/Debug/netcoreapp2.2/BChatServer.NUnitTest.runtimeconfig.dev.json
BChatServer/BChatServer.NUnitTest/bin/Debug/netcoreapp2.2/BChatServer.NUnitTest.runtimeconfig.json
BChatServer/BChatServer.NUnitTest/bin/Debug/netcoreapp2.2/nunit.engine.netstandard.dll
BChatServer/BChatServer.NUnitTest/bin/Debug/netcoreapp2.2/NUnit3.TestAdapter.dll
BChatServer/BChatServer.NUnitTest/bin/Debug/netcoreapp2.2/NUnit3.TestAdapter.pdb
BChatServer/BChatServer.NUnitTest/obj/BChatServer.NUnitTest.csproj.nuget.cache
BChatServer/BChatServer.NUnitTest/obj/Debug/netcoreapp2.2/BChatServer.NUnitTest.csproj.CopyComplete
BChatServer/BChatServer.NUnitTest/obj/Debug/netcoreapp2.2/BChatServer.NUnitTest.csproj.CoreCompileInputs.cache
BChatServer/BChatServer.NUnitTest/obj/Debug/netcoreapp2.2/BChatServer.NUnitTest.csprojAssemblyReference.cache
BChatServer/BChatServer.NUnitTest/obj/Debug/netcoreapp2.2/BChatServer.NUnitTest.dll
BChatServer/BChatServer.NUnitTest/obj/Debug/netcoreapp2.2/BChatServer.NUnitTest.pdb
BChatServer/BChatServer/bin/Debug/netcoreapp2.2/BChat.Data.dll
BChatServer/BChatServer/bin/Debug/netcoreapp2.2/BChat.Data.pdb
BChatServer/BChatServer/bin/Debug/netcoreapp2.2/BChatServer.deps.json
BChatServer/BChatServer/bin/Debug/netcoreapp2.2/BChatServer.dll
BChatServer/BChatServer/bin/Debug/netcoreapp2.2/BChatServer.pdb
BChatServer/BChatServer/bin/Debug/netcoreapp2.2/BChatServer.runtimeconfig.dev.json
BChatServer/BChatServer/bin/Debug/netcoreapp2.2/BChatServer.runtimeconfig.json
BChatServer/BChatServer/bin/Debug/netcoreapp2.2/BChatServer.Views.dll
BChatServer/BChatServer/bin/Debug/netcoreapp2.2/BChatServer.Views.pdb
BChatServer/BChatServer/obj/BChatServer.csproj.nuget.cache
BChatServer/BChatServer/obj/Debug/netcoreapp2.2/BChatServer.csproj.CopyComplete
BChatServer/BChatServer/obj/Debug/netcoreapp2.2/BChatServer.csproj.CoreCompileInputs.cache
BChatServer/BChatServer/obj/Debug/netcoreapp2.2/BChatServer.csprojAssemblyReference.cache
BChatServer/BChatServer/obj/Debug/netcoreapp2.2/BChatServer.dll
BChatServer/BChatServer/obj/Debug/netcoreapp2.2/BChatServer.pdb
BChatServer/BChatServer/obj/Debug/netcoreapp2.2/BChatServer.RazorCoreGenerate.cache
BChatServer/BChatServer/obj/Debug/netcoreapp2.2/BChatServer.RazorTargetAssemblyInfo.cache
BChatServer/BChatServer/obj/Debug/netcoreapp2.2/BChatServer.RazorTargetAssemblyInfo.cs
BChatServer/BChatServer/obj/Debug/netcoreapp2.2/BChatServer.TagHelpers.input.cache
BChatServer/BChatServer/obj/Debug/netcoreapp2.2/BChatServer.TagHelpers.output.cache
BChatServer/BChatServer/obj/Debug/netcoreapp2.2/BChatServer.Views.pdb
BChatServer/BChatServer/obj/Debug/netcoreapp2.2/Razor/Areas/Identity/Pages/_ViewStart.g.cshtml.cs
BChatServer/BChatServer/obj/Debug/netcoreapp2.2/Razor/Views/_ViewImports.g.cshtml.cs
BChatServer/BChatServer/obj/Debug/netcoreapp2.2/Razor/Views/_ViewStart.g.cshtml.cs
BChatServer/BChatServer/obj/Debug/netcoreapp2.2/Razor/Views/Home/Index.g.cshtml.cs
BChatServer/BChatServer/obj/Debug/netcoreapp2.2/Razor/Views/Home/Privacy.g.cshtml.cs
BChatServer/BChatServer/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_CookieConsentPartial.g.cshtml.cs
BChatServer/BChatServer/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_Layout.g.cshtml.cs
BChatServer/BChatServer/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_LoginPartial.g.cshtml.cs
BChatServer/BChatServer/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_ValidationScriptsPartial.g.cshtml.cs
BChatServer/BChatServer/obj/Debug/netcoreapp2.2/Razor/Views/Shared/Error.g.cshtml.cs
