BChatServer/.vs/BChatServer/config/applicationhost.config
BChatServer/.vs/BChatServer/DesignTimeBuild/.dtbcache
BChatServer/.vs/BChatServer/v16/.suo
BChatServer/.vs/BChatServer/v16/Server/sqlite3/db.lock
BChatServer/.vs/BChatServer/v16/Server/sqlite3/storage.ide
BChatServer/.vs/BChatServer/v16/Server/sqlite3/storage.ide-shm
BChatServer/.vs/BChatServer/v16/Server/sqlite3/storage.ide-wal
BChatServer/BChat.API/obj/BChat.API.csproj.nuget.dgspec.json
BChatServer/BChat.API/obj/BChat.API.csproj.nuget.g.props
BChatServer/BChat.API/obj/BChat.API.csproj.nuget.g.targets
BChatServer/BChat.API/obj/Debug/netcoreapp2.2/BChat.API.AssemblyInfo.cs
BChatServer/BChat.API/obj/Debug/netcoreapp2.2/BChat.API.AssemblyInfoInputs.cache
BChatServer/BChat.API/obj/Debug/netcoreapp2.2/BChat.API.assets.cache
BChatServer/BChat.API/obj/Debug/netcoreapp2.2/BChat.API.csproj.FileListAbsolute.txt
BChatServer/BChat.API/obj/project.assets.json
BChatServer/BChat.Bot/obj/BChat.Bot.csproj.nuget.dgspec.json
BChatServer/BChat.Bot/obj/BChat.Bot.csproj.nuget.g.props
BChatServer/BChat.Bot/obj/BChat.Bot.csproj.nuget.g.targets
BChatServer/BChat.Bot/obj/Debug/netcoreapp2.2/BChat.Bot.AssemblyInfo.cs
BChatServer/BChat.Bot/obj/Debug/netcoreapp2.2/BChat.Bot.AssemblyInfoInputs.cache
BChatServer/BChat.Bot/obj/Debug/netcoreapp2.2/BChat.Bot.assets.cache
BChatServer/BChat.Bot/obj/Debug/netcoreapp2.2/BChat.Bot.csproj.FileListAbsolute.txt
BChatServer/BChat.Bot/obj/project.assets.json
BChatServer/BChat.Data/obj/BChat.Data.csproj.nuget.dgspec.json
BChatServer/BChat.Data/obj/BChat.Data.csproj.nuget.g.props
BChatServer/BChat.Data/obj/BChat.Data.csproj.nuget.g.targets
BChatServer/BChat.Data/obj/Debug/netcoreapp2.2/BChat.Data.AssemblyInfo.cs
BChatServer/BChat.Data/obj/Debug/netcoreapp2.2/BChat.Data.AssemblyInfoInputs.cache
BChatServer/BChat.Data/obj/Debug/netcoreapp2.2/BChat.Data.assets.cache
BChatServer/BChat.Data/obj/Debug/netcoreapp2.2/BChat.Data.csproj.FileListAbsolute.txt
BChatServer/BChat.Data/obj/project.assets.json
BChatServer/BChatServer.NUnitTest/bin/Debug/netcoreapp2.2/nunit_random_seed.tmp
BChatServer/BChatServer.NUnitTest/obj/BChatServer.NUnitTest.csproj.nuget.dgspec.json
BChatServer/BChatServer.NUnitTest/obj/BChatServer.NUnitTest.csproj.nuget.g.props
BChatServer/BChatServer.NUnitTest/obj/BChatServer.NUnitTest.csproj.nuget.g.targets
BChatServer/BChatServer.NUnitTest/obj/Debug/netcoreapp2.2/BChatServer.NUnitTest.AssemblyInfo.cs
BChatServer/BChatServer.NUnitTest/obj/Debug/netcoreapp2.2/BChatServer.NUnitTest.AssemblyInfoInputs.cache
BChatServer/BChatServer.NUnitTest/obj/Debug/netcoreapp2.2/BChatServer.NUnitTest.assets.cache
BChatServer/BChatServer.NUnitTest/obj/Debug/netcoreapp2.2/BChatServer.NUnitTest.csproj.FileListAbsolute.txt
BChatServer/BChatServer.NUnitTest/obj/Debug/netcoreapp2.2/BChatServer.NUnitTest.Program.cs
BChatServer/BChatServer.NUnitTest/obj/project.assets.json
BChatServer/BChatServer/obj/BChatServer.csproj.nuget.dgspec.json
BChatServer/BChatServer/obj/BChatServer.csproj.nuget.g.props
BChatServer/BChatServer/obj/BChatServer.csproj.nuget.g.targets
BChatServer/BChatServer/obj/Debug/netcoreapp2.2/BChatServer.AssemblyInfo.cs
BChatServer/BChatServer/obj/Debug/netcoreapp2.2/BChatServer.AssemblyInfoInputs.cache
BChatServer/BChatServer/obj/Debug/netcoreapp2.2/BChatServer.assets.cache
BChatServer/BChatServer/obj/Debug/netcoreapp2.2/BChatServer.csproj.FileListAbsolute.txt
BChatServer/BChatServer/obj/Debug/netcoreapp2.2/BChatServer.RazorAssemblyInfo.cache
BChatServer/BChatServer/obj/Debug/netcoreapp2.2/BChatServer.RazorAssemblyInfo.cs
BChatServer/BChatServer/obj/Debug/netcoreapp2.2/BChatServer.Views.dll
BChatServer/BChatServer/obj/project.assets.json
